@import "/src/styles/variables";

.faq {
  display: flex;
  padding-top: 109px;
}

.question {
  display: flex;
  flex-direction: column;
  padding-left: 210px;
  margin-right: 88px;

  &-title {
    width: 592px;
    height: 87px;
    font-family: "Sofia Sans", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.04em;
    text-align: left;
    color: $dark-blue;
  }
}

.faq-question {
  display: flex;
  align-items: center;
  width: 630px;
  min-height: 72px;
  max-height: 120px;
  border-top: 1px solid #eaeaea;

  &-title {
    width: 305px;
    font-family: "Sofia Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: $dark-blue;
    margin-right: 262px;
    
  }

  &-description {
    width: 567px;
    font-family: "Sofia Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-align: left;
    color: $main-text;
    margin-top: 0;
    margin-top: 10px;
    margin-bottom: 24px;
  }
}

.women-picture {
  width: 430px;
  height: 645px;
}
